.jumbotron {
	background-color: #64461F;
	color:white;
}
body{
	background-color: #FFDC9E;
}
.card-hotel{
	flex:1 150px;
	margin-top: 10px;
	margin-right: 70px;
	background-color: #C8A46F;
}
h2{
	color: #3C2B14;
}
h4{
	color: #6A491E;
}

.btn-reserva{
	width:100%;
	background-color:#64461F;
	color: white; 
}
.tab-content{
	padding-top: 10px;
}

.footer-address-icon{
	padding-right: 10px;
}
footer{
	padding:10px 10px 0 10px;
	background-color:#64461F;
	color:white;
	margin-bottom: 0px;
	margin-top: 20px;
}