@brown: #64461F
.margenes(@top, @bottom){
		margin-top:@top;
		margin-bottom:@bottom;
	}
.jumbotron {
	background-color:@brown;
	color:white;
	
}
body{
	background-color: #FFDC9E;
}
.card-hotel{
	flex:1 150px;
	.margenes(10px,70px);
	background-color: #C8A46F;
	
}
h2{
	color: #3C2B14;
}
h4{
	color: #6A491E;
}

.btn-reserva{
	width:100%;
	background-color:@brown;
	color: white; 
}
.tab-content{
	padding-top: 10px;
}

.footer-address-icon{
	padding-right: 10px;
}
footer{
	padding:10px 10px 0 10px;
	background-color:@brown;
	color:white;
	.margenes(0px,20px);
	
}